    <table>
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Date Modified</th>
          <th scope="col">File Size</th>
          <th scope="col">File Type</th>
        </tr>
      </thead>
      <tbody>
        <% if (locals.folders) { %> 
        <% locals.folders.forEach(folder => { %>
          <tr onclick="window.location.href = '/folder/<%=folder.id%>'">
            <th scope = "row" class="table-row-name"><%-folder.icon%> <%= folder.name %></th>
            <td><%= folder.createdAt %></td>
            <td>-</td>
            <td>Folder</td>
          </tr>
        <% }) %>
        <%}%>
        <% if (locals.files) { %> 
        <% locals.files.forEach(file => { %>
          <tr onclick="window.location.href = '/file/<%=file.id%>'">
            <th scope = "row" class="table-row-name"><%-file.icon%> <%= file.originalName %></th>
            <td><%= file.uploadedAt %></td>
            <td><%= file.size %></td>
            <td><%= file.mimeType %></td>
          </tr>
        <% }) %>
        <%}%>
      </tbody>
    </table>