<% if (locals.files) {%>
<h1>Files</h1>
<div class="list-files">
<% locals.files.forEach(file => { %>
  
 <p class="file">
  <%- file.icon %>
  <%= file.originalName %>
  <form action="/download-file/<%= file.id %>" method="GET">
  <button type="submit">Download</button>
  </form>
  <form action="/delete-file/<%= file.id %><%if(locals.folder){%>/<%=locals.folder.id%><%}%> " method="POST">
  <button type="submit">Delete</button>
  </form>
  
</p>
<% }) %>
</div>
<% }else{%>

  <p>No files to display</p>

  <% } %>
