<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="root-container">
    <%- include('partials/navbar') %>
    <main>


      <div class="file-view-header">
        <div>
          <a href="/files"><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M5 12H19M5 12L11 6M5 12L11 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
            Return</a>
        </div>

        <div>
          <p class = "folder-header file-info-card-header">
          <%-locals.file.icon%>
          <%=locals.file.originalName%></p>
        </div>

      </div>


      <div class="file-info-card">



        <p class="file-info-card-title"><%= file.originalName %></p>


      </div>
    </main>



    <%- include('partials/footer') %>
  </div>
</body>
</html>