<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log In - Uploadify</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="root-container">
    <%- include('partials/navbar') %>

    <main class = "login-container">

      <div class = "login-box">
          <h3>Log In</h3>
        

        
          <form class = "login-form" action="/log-in" method="POST">
            <div class = "form-group">
            <label for="username">Username</label>
            <input id="username" name="username" <%if(locals.signedUp){%>value="<%=signedUp.username%>"<%}%>placeholder="Enter Your Username" type="text" />
            </div>
            <div class = "form-group">
            <label for="password">Password</label>
            <input id="password" name="password" <%if(locals.signedUp){%>value="<%=signedUp.username%>"<%}%>placeholder="Enter Your Password"type="password" />
            </div>
            <div class = "form-group">
            <button type="submit">Log In</button>
            
            </div>
          </form>

        <%- include('partials/errors.ejs') %>
        
        <div class = "form-spacer">
        <hr>
        <p> OR </p>
        <hr>
        </div>
        
        <p class="login-signup-title">Need an Account?</p>
        <button onclick="window.location.href='/sign-up'" class="dark-button">Sign Up</button>

      </div>



    </main>

    <%- include('partials/footer') %>

  </div>
</body>
</html>