<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manage Links - Uploadify</title>
  <link rel="stylesheet" href="/style.css">
  <script src="/js/copySharedLink.js" defer></script>
</head>
<body>
  <div class="root-container">
    <%- include('partials/navbar') %>
    <main>


      <div class="file-view-header">
        <div>
          <% const returnLink = `/file/${locals.file.id}`%>
          <a href="<%= returnLink %>"><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M5 12H19M5 12L11 6M5 12L11 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
            Return</a>
        </div>
        <%- include('partials/errors.ejs') %>
        <div>
          <p class = "folder-header file-info-card-header">
          <%-locals.file.icon%></p>

        </div>

      </div>

      <div class="file-info-card">
        <p class="file-info-card-title file-info-card-title-links">Manage Links</p>
        <p class="file-info-card-title-subtext"><%-locals.file.icon%> <%=locals.file.originalName%></p>
        <div class="file-info-card-body-links">
          <% locals.file.links.forEach(link => { %>
          <div class="file-info-card-body-link-group">
            <div class="file-info-card-body-link-group-expiration">
              <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g fill="<%=link.timeRemainingColor%>"> <path d="M12.144 1.157a8 8 0 10-.709 14.068 1 1 0 00-.858-1.806 6 6 0 112.86-7.955 1 1 0 001.814-.845 8 8 0 00-3.107-3.462z"></path> <path d="M7 5a1 1 0 112 0v4a1 1 0 01-.553.894l-2 1a1 1 0 11-.894-1.788L7 8.382V5zm9 10a1 1 0 11-2 0 1 1 0 012 0zm-1-7a1 1 0 00-1 1v3a1 1 0 102 0V9a1 1 0 00-1-1z"></path> </g> </g></svg>
              <% const timeRemainingHtml = `<p style="color: ${link.timeRemainingColor};">${link.timeRemaining}</p>`; %>
              <%- timeRemainingHtml %>
            </div>
            <input type="text" value="<%=link.baseUrl%>/share/<%=link.id%>" readonly class="copy-input copy-input-<%=link.id%>">
            <button class="darker-blue-button copy-button-<%=link.id%>" onclick="copyClick('<%=link.id%>')">Copy</button>
            <button class="button-copy-svg copy-button-mobile-<%=link.id%>" onclick="copyClick('<%=link.id%>')"><svg class = "copy-svg" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <rect width="24" height="24" fill="white"></rect> <rect x="4" y="8" width="12" height="12" rx="1" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></rect> <path d="M8 6V5C8 4.44772 8.44772 4 9 4H19C19.5523 4 20 4.44772 20 5V15C20 15.5523 19.5523 16 19 16H18" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="2 2"></path> </g></svg></button>
            <svg class="copied-svg copied-<%=link.id%>" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 12.6111L8.92308 17.5L20 6.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
            <form action="/link/<%= link.id %>/delete " method="POST" onsubmit="return confirm('Are you sure you want to delete this link?');">
              <button type="submit" class="red-button delete-form-button">Delete</button>
              <button class="button-delete-svg"><svg class= "delete-svg" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 128 128"> <path fill="currentColor" d="M 49 1 C 47.34 1 46 2.34 46 4 C 46 5.66 47.34 7 49 7 L 79 7 C 80.66 7 82 5.66 82 4 C 82 2.34 80.66 1 79 1 L 49 1 z M 24 15 C 16.83 15 11 20.83 11 28 C 11 35.17 16.83 41 24 41 L 101 41 L 101 104 C 101 113.37 93.37 121 84 121 L 44 121 C 34.63 121 27 113.37 27 104 L 27 52 C 27 50.34 25.66 49 24 49 C 22.34 49 21 50.34 21 52 L 21 104 C 21 116.68 31.32 127 44 127 L 84 127 C 96.68 127 107 116.68 107 104 L 107 40.640625 C 112.72 39.280625 117 34.14 117 28 C 117 20.83 111.17 15 104 15 L 24 15 z M 24 21 L 104 21 C 107.86 21 111 24.14 111 28 C 111 31.86 107.86 35 104 35 L 24 35 C 20.14 35 17 31.86 17 28 C 17 24.14 20.14 21 24 21 z M 50 55 C 48.34 55 47 56.34 47 58 L 47 104 C 47 105.66 48.34 107 50 107 C 51.66 107 53 105.66 53 104 L 53 58 C 53 56.34 51.66 55 50 55 z M 78 55 C 76.34 55 75 56.34 75 58 L 75 104 C 75 105.66 76.34 107 78 107 C 79.66 107 81 105.66 81 104 L 81 58 C 81 56.34 79.66 55 78 55 z"></path> </svg></button>
            </form>
          </div>
          <% }) %>
          
        </div>
      </div>

    </main>



    <%- include('partials/footer') %>
  </div>
</body>
</html>